// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@mixin ImgFluid($imagen, $calidad, $ancho, $alto) {
  background-image: $imagen;
  object-fit: $calidad;
  width: $ancho;
  height: $alto;
}

.img-fluid {
  @include ImgFluid(url(css/img/Imagenh1.jpeg), cover, 100%, 500px !important);
}
.navbar-light .navbar-nav .nav-link {
  color: black !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-muted2 {
  color: black !important;
}

.text-muted1 {
  color: black !important;
}

.text-muted1:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
