.fondo1 {
  background-image: linear-gradient(
    to left bottom,
    #c9967c,
    #cd9175,
    #d18c6e,
    #d58768,
    #d98162
  );
}
.contenedor404 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15%;
}
.espacio {
  margin-top: 4rem;
}
