/*aqui van los estilos de la home*/

@mixin parrafo($color1, $margen) {
  font-size: 2rem;
  line-height: 40px;
  font-family: "Noto Sans JP", sans-serif;
  width: auto;

  text-align: center;
  display: flex;
  flex-direction: column;
  color: $color1;
  padding-top: $margen;
}
.parrafos__inicio {
  @include parrafo(black, 40px);
}

.h2__elmejorcafe {
  font-family: "Roboto", sans-serif;
}

/*aqui terminan los estilos de la home*/
