/*aqui van los estilos de menu*/
section {
  .col-sm-3 h3 {
    text-align: center;
    display: flex;
    color: #030303;
    justify-content: center;
  }
  .col-sm-3 p {
    padding: 0%;
    font-size: 1.2rem !important;
    margin-top: 0;
    text-align: center;
  }

  .col-sm-3 img {
    width: 100%;
    object-fit: cover;
    margin-left: 5px;
    margin-top: 20px;
  }

  .col-sm-3 h3 {
    text-align: justify;
    display: flex;
    color: #030303;
    justify-content: center;
  }
  .col-sm-3 p {
    padding: 0%;
    font-size: 1rem;
    margin-top: 0;
    text-align: center;
    color: black;
  }

  .col-sm-3 img {
    width: 80%;
    height: 350px;
    object-fit: cover;
    margin-left: 40px;
    margin-top: 50px;
  }

  .col-sm-3:hover {
    transform: scale(1, 1.1) !important;
    transition: 1s !important;
  }
}
/*aqui terminan los estilos de menu*/
