/*aqui van los estilos de nosotros*/
.carousel-inner img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  text-align: center;
}
.sec {
  width: 100%;
  height: 10%;
  align-content: center;
}
/*aqui terminan los estilos de nosotros*/
