/*aqui van los estilos de sucursales*/

.sucursal {
  border: none !important;
}
.sucursal img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  margin-left: 40px !important;
  margin-right: 20px;
  margin-top: 50px;
}
.sucursal:hover {
  transform: scale(1, 1.1) !important;
  transition: 1s !important;
}
.mapa__Sucursal {
  margin-top: 2rem;
}

/*aqui termian los estilos de sucursales*/
